script(src="/socket.io/socket.io.js")
script(src="/javascripts/socket.js")

div.content
    div(class="col-md-4 col-md-offset-4")
      div(class="center-block")
        h4 It's Monday! Initializing database..
      div(class="col-md-4  col-md-offset-4")
        img(src="/images/477.GIF")
